h1 {
  font-size: 70px;
  line-height: 45px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #403E2F;
  text-transform: uppercase;
}

.intro {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 40px;
  font-weight: 300;
}

.app-box {
  margin-top:45px;
  width: 800px;
}

.whine-body {
  font-family: 'Lora', serif;
  text-align: center;
}

.ng-hide-remove { 
	animation: 1s fadeIn ease; 
}

.repeat-whine {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #403E2F;
}

#platitude {
  font-size: 22px;
  animation: 3s fadeIn ease;
  margin-bottom: 5px;
  text-transform: uppercase;
}

#have-glass {
  font-size: 18px;
  animation: 6s fadeIn ease;
  margin-bottom: 5px;
}

#description {
  font-size: 18px;
  animation: 8s fadeIn;
  margin: 0 auto 5px;
  width: 500px;
}

#whine-again {
  animation: 5s fadeIn;
  margin-bottom: 5px;
}

